:root {
  --color-palette-background1:#EEEEEE;
  --color-palette-background2:#DDDDDD;
  --color-palette-foreground:#111111;
  --color-palette-highlight:#010101;
}

html{
  height: 100%;
}

body{
  background-color: var(--color-palette-background1);
  font: 75% Helvetica;
  color: var(--color-palette-foreground);
  margin: inherit;
  height: 100%;
}

p{
  margin: inherit;
}

a:link{ color: blue; }
a:visited{ color: blue; }

.full_canvas{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.content_overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: grid;
  grid-template-rows: max-content auto max-content;
}

.background_water{
  z-index: -1;
  background-color: blue;
}

header{
  display: grid;
  grid-template-columns: max-content max-content auto;
  margin: 0px;
  gap: 1%;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
}

footer{
  padding-bottom: 0;
  width: 100%;
  font-size: 11px;

  display: grid;
  grid-template-columns: auto auto;
  gap: 1%;
}

.FloodAlertsLink{
  margin: 10px;
  font-size: 200%;
  font-weight: bold;
}

.result_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.result_content{
  position: absolute;
  text-align: center;
  font-size: 1400%;
}

.ShowBelowWaterLevel{
  clip-path: polygon(0% 100%, 0% var(--water-level-barbourne), 100% var(--water-level-diglis), 100% 100% )
}
.ShowAboveWaterLevel{
  clip-path: polygon(0% 0%, 0% var(--water-level-barbourne), 100% var(--water-level-diglis), 100% 0% )
}

svg text{
  color: var(--color-palette-foreground);
  font: bold 75% Helvetica;
  font-size: 400%;
  text-anchor: middle;
}

.Push{
  display: flex;
  justify-content: flex-end;
}
