:root {
  --color-palette-background1:#EEEEEE;
  --color-palette-background2:#DDDDDD;
  --color-palette-foreground:#111111;
  --color-palette-highlight:#010101;
}

html{
  height: 100%;
}

body{
  background-color: var(--color-palette-background1);
  font: 100% Helvetica;
  color: var(--color-palette-foreground);
  height: 100%;
}

h1{
  text-align: center;
  font-size: 50px;
}

footer{
  position:fixed;
  bottom: 0;
}
