:root {
  --color-palette-background1:#EEEEEE;
  --color-palette-background2:#DDDDDD;
  --color-palette-foreground:#111111;
  --color-palette-highlight:#010101;
}

html{
  height: 100%;
}

body{
  background-color: var(--color-palette-background1);
  font: 75% Helvetica;
  color: var(--color-palette-foreground);
  margin: inherit;
  height: 100%;
  display: grid;
  grid-template-rows: max-content auto max-content;
}

p{
  margin: inherit;
}

header{
  display: grid;
  grid-template-columns: max-content max-content auto;
  margin: 0px;
  gap: 1%;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
}

footer{
  padding-bottom: 0;
  width: 100%;
  font-size: 11px;

  display: grid;
  grid-template-columns: auto auto;
}

.FloodAlertsLink{
  display: flex;
  justify-content: flex-end;
  margin: 10px;
  font-size: 200%;
  font-weight: bold;
}

.ResultsContent{
  display: grid;
  grid-auto-rows: max-content max-content;
  justify-content: center;
}

.ResultsContent h1{
  font-size: 1400%;
  margin: 0px;
}

.ResultsContent p{
  display: flex;
  justify-content: center;
}

.Push{
  display: flex;
  justify-content: flex-end;
}
